@model WC1.ViewModels.BettingOptions.BettingViewModel
@{
    ViewBag.Title = "Betting Options";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm(new {ViewBag.ReturnUrl}))
{
    @Html.ValidationSummary(true)
        <div class="panel panel-group" id="accordion">
            @foreach (var m in Model.AllViewModel)
            {
                 @Html.EditorFor(vm => m, m.ViewName);
            }
        </div>
    <input type="submit" class="btn btn-info btn-default" value="Place Bet"/>
       @Html.HiddenFor( m => m.FixtureID)
}
