@model IEnumerable<WC1.ViewModels.BettingOptions.ProfileBettingViewModel>
<h1>
    <small>Welcome</small> @ViewBag.ProfileName <small>!</small>
</h1>

@{
    Html.RenderPartial("ProfileSummary");
}
<div class="panel panel-default">
    @Html.DisplayForModel()
</div>
