@model WC1.ViewModels.BettingOptions.MoMViewModel
<div class="panel panel-warning">
    <div class="panel panel-heading">
        <span class="" data-toggle="collapse" data-parent="#accordion" href="CollapseTwo">@Model.Question </span> 
        <span class="pull-right">
            Weightage  <span class="badge"> @Model.BetWeightage</span>
        </span>
    </div>
    <div id="CollapseTwo" class="panel-collapse collapse in">
        <div class="panel-body"> 
            @*<span class="control-label col-sm-2"> Select Player : </span>*@
            @Html.DropDownListFor(m => m.Prediction,
                                 new SelectList(Model.FullName, Model.BetValue), "Select Player", 
                                 new { @class = "btn btn-default dropdown-toggle"})
        </div>
        </div>
</div>
@Html.HiddenFor(m=>m.BetID)