@{
    ViewBag.Title = "BlankBet";
}

<h2 class="alert alert-danger" role="alert">
    <small>Ohhh ! </small>You didn't placed bet yet !
</h2>
<p>
    @Html.ActionLink("Place Bet", "Index", "Fixture", new {area =""}, null)
</p>


