@model WC1.Models.Prediction

<div class="panel-heading">Fixture : @Model.FixtureID</div>
<div class="panel-body">You have selected @Model.BettingId :</div>
@*<div class="panel-body">@Model.BetValue</div>*@
